<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Detalles</h1>

        <!--Footer-->
        <footer>
            <div class="logo">
              <img src="./images/serionlogo.jpg" alt="">
            </div>
      
             <p>Camila de Paul</p>
             <p>Lola Marotta</p>
             <p>Macarena Montoya</p>
      
          </footer>
          <!--FIN Footer-->

</body>
</html>