<form action="/editarResena/<%= idResenia %>" method="post">
    <input type="text" name="email"> <br>
    <input type="password" name="password">
    <input type="text" name="puntaje" placeholder="puntaje">
    <input type="text" name= "reseña" placeholder="reseña">
    <button type="submit">Entrar</button>
</form>
