<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/editarResena/<%= resultado.id %>" method="POST">
        <input placeholder="email" type="text" name="email"> <br>
        <input placeholder="password" type="password" name="password">
        <input placeholder="Punatje" type="text" name="puntaje">
        <input type="text" name= "reseña" placeholder="<%= resultado.texto %>">
        <button type="submit">Entrar</button>
    </form>
</body>
</html>
=======
<form action="/editarResena/<%= idResenia %>" method="post">
    <input type="text" name="email"> <br>
    <input type="password" name="password">
    <input type="text" name="puntaje" placeholder="puntaje">
    <input type="text" name= "reseña" placeholder="reseña">
    <button type="submit">Entrar</button>
</form>
>>>>>>> parent of a76db5f... Revert "resena"
