
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/css/uikit.min.css" />
    <!--UIkit CSS-->
    <script rel="stylesheet" src="../public/javascripts/login.js"></script>
    <link rel="stylesheet" href="../public/stylesheets/login.css">
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit-icons.min.js"></script>
    <link rel="stylesheet" href="../public/stylesheets/login.css">
    <link rel="stylesheet" href="./css/uikit.min.css">
    <link rel="stylesheet" href="./js/uikit.min.js">
    <link rel="stylesheet" href="./js/uikit-icons.js">
</head>
<body>
    <h1>LOG IN</h1>
    <form id="formlogin" method="POST" class="" action="/resenias">

        <div class="uk-margin">
            <input class="uk-input uk-form-width-medium uk-form-large" type="text" id="email" name="email" placeholder="Email...">
        </div>

        <div class="uk-margin">
            <input class="uk-input uk-form-width-medium uk-form-large" type="password" id="password" name="password" placeholder="Contraseña...">
        </div>
        
        <button type="submit" class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom">Buscar</button>
    </form>
</body>
</html>