<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Series</title>
    <!--UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/css/uikit.min.css" />
<!--UIkit CSS-->
<script rel="stylesheet" src="./javascripts/series.js"></script>
<link rel="stylesheet" href="./css/series.css">
    <!--UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit-icons.min.js"></script>
    <link rel="stylesheet" href="./stylesheets/series.css">
    <link rel="stylesheet" href="./css/uikit.min.css">
    <link rel="stylesheet" href="./js/uikit.min.js">
    <link rel="stylesheet" href="./js/uikit-icons.js">
    <!--UIkit JS-->
  </head>
  <body>
    <!-- Esta es la barra de navegacion -->
    <nav class="uk-navbar-container" uk-navbar>
      <div class="contenedorTitulos">
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href='/'><img class="nav-logo" src="./images/serionlogo.jpg"></a></li>
            </ul>
        </div>
        <div class="uk-navbar-center">
            <ul class="uk-navbar-nav">
              <li class="li-line">
                <a class="li-a" href='/'>Home</a>
              </li>
                <li  class="li-line">
                    <a class="li-a" href="#">Generos</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav gen">
                        </ul>
                    </div>
                </li>

                <li class="li-line">
                  <a class="li-a" href="/busquedaAvanzada">Buscador Avanzado</a>
                </li>
            </ul>
        </div>
        <div class="contenedorBuscador">
          <form method="get" name="buscar" action="buscador.html" class="buscar">
                <input class="uk-search-input casillero" name="buscador" type="search" placeholder="Search...">
                <span class="iconoBuscador" uk-search-icon></span>
            </form>
        </div>
        </div>
    </nav>
    <!-- Esta es la barra de navegacion -->
<div class="detalles">

  <div class="posterSerie">  </div>
  <div class="peliculaTrailer"> </div>
  <div class="detalle-serie"> </div>

  <!--lugar para dejar reseñas-->
  <h3>DEJANOS TU RESEÑA!</h3>
  <h4>COMPLETA LOS CAMPOS CORRESPONDIENTES</h4>

  <form action="/" method="POST" class="resenia">
    <fieldset class="uk-fieldset">

      
        <div class="uk-margin">
            <input class="uk-input" type="email" placeholder="Inserta tu email">
        </div>
        <div class="uk-margin">
        <input class="uk-input" type="password" name="password" placeholder="Inserta tu contraseña">
      </div>

      <div class="uk-margin">
        <textarea class="uk-textarea" type="text" name="resenia" placeholder="Escribe tu reseña"></textarea>
    </div>
    <h3>ELIGE TU PUNTUACION</h3>
        <div class="uk-margin">
            <select class="uk-select" name="puntaje" id="">
                
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
        </div>
        
    </fieldset>
    <button class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom" action="/series">Submit</button>

</form>

    <!--Footer-->
        <footer>
          <div class="logo">
            <img src="./images/293x302-powered-by-square-green-3ee4814bb59d8260d51efdd7c124383540fc04ca27d23eaea3a8c87bfa0f388d.png" alt="">
          </div>

      <p>Camila de Paul</p>
      <p>Lola Marotta</p>
      <p>Macarena Montoya</p>

        </footer>
        <!--FIN Footer-->
<script type="text/javascript" src="./javascripts/validacionBuscador2.js"></script>
  </body>
</html>
